html {
width: 1024px;
height: 678px;
}

.contenedor{
box-sizing: border-box;
display: flex;
flex-wrap: wrap;
width: 1024px;
height: 678px;
background-color:burlywood;
margin-top: 30px;
margin-left: 130px;
padding: auto;
}

.cajaheader {
display: flex;
width: 1024px;
height: 100px;
background-color: black;
margin: 0;
padding: 0;
justify-content:flex-start;
}

.imglogo {
background-image: url(/img/VectorPizza.png);
width: 95px;
height: 80px;
position: relative;
left: 10px;
z-index: 100;
margin-top: 7px;
align-items: center;
}

.imgtitulo {
width: 0px;
height: 20px;
margin-left: 20px;
margin-top: 35px;
align-items: center;
}

.cajaheader h3 {
color: white;
font-size: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
align-items: center;
padding-left: 500px;
padding-top: 15px;
}

.menu {
position: relative;
display: flex;
margin:0%;
list-style-type: none;
padding: 0%;
}


.cajamain {
display: flex;
width: 1024px;
height: 428px;
background-color: rgb(245, 148, 148);
font-size: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
justify-content: center;
align-items: center;
}

.domi {
background-image: url(/img/delivery.jpg);
width: 490px;
height: 350px;
margin-top: 5px;
}

.gratis {
color: red;
margin-left: 5px;
padding-top: 5px;
}

.compra {
color:white;
padding-top: 5px;
}
    
.podio {
background-color: white;
width: 500px;
height: 350px;
color:rgb(255, 0, 0);
text-align: center;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.torre {
width: 90px;
height: 130px;
margin-left: 0%;
margin-top: 0%;
position: absolute;
z-index: 10px;
}


.pizzas {
color:rgb(0, 0, 0);
text-align: left;
margin-top: 0px;
margin-left: 100px;
align-items: flex-start;
position: absolute
}

.podio img {
height: 129;
width: 30;
margin-top: 100px;
margin-left: 110px;
}


.cajafooter {
width: 993px;
height: 150px;
background-color: black;
color: white;
font-size: 20px;
font-weight: lighter;
line-height: 28px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
align-items: center;
padding-left: 30px;
padding-top: 15px;
display: flex;
}

.cajafooter .imglogo{
    position: relative;
    left: 10px;
    z-index: 100;
    margin-top: 5px;
    margin-left: 550px;
    margin-bottom: 25px;
    justify-items: right;
}

.cajafooter .imgtitulo {
    width: 0px;
    height: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    align-items: center;
}