.contenedor {
width: 1000px;
height: 1500px;
padding: 0px;
box-sizing: border-box;
}

h1 {
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 40px;
font-weight: bolder;
text-align: center;
text-align: center;
display: block;
color: rgb(45, 173, 182);
margin: auto;
font-weight: lighter;
}

.cajafondo {
width: 1500px;
height: 400px;
padding: 20px;
box-sizing: border-box;
background-image: url(/img/fondoabs.jpg);
}

.foto {
width: 200px;
height: 280px;
padding: 35px 650px;
display: block;
}

.cajatitulo {
width: 1500px;
height: 60px;
margin: auto;
box-sizing: border-box;
background-color: rgba(220, 222, 224, 0.76);
}
.cajita {
width: 1500px;
height: 30px;
box-sizing: border-box;
background-color: rgba(220, 222, 224, 0.76);
margin: auto;
}

h2 {
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
font-weight: bolder;
display: block;
color: rgb(45, 173, 182);
margin: auto;
text-align: left;
font-weight: lighter;
}

.cajaespacio {
width: 1500px;
height: 120px;
padding: 10px;
box-sizing: border-box;
background-color: white
}

h3 {
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
font-weight: bolder;
text-align: center;
text-align: center;
display: block;
color: rgb(82, 83, 83);
margin: auto;
text-align: left;
font-weight: lighter    
}

ul {list-style-type: none;
line-height: 40px;}

.negrita {
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
font-weight: bolder;
display: inline-block;
color: rgb(45, 173, 182);
margin: auto;
text-align: left;
font-weight: bold
}

.cajapie {
width: 1500px;
height: 30px;
box-sizing: border-box;
background-color: rgba(124, 126, 128, 0.76);
margin:auto;
}

p {
text-align: center;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
font-weight: lighter;
color: white
}

.movertexto {
margin-left: 147px;
}

.icono {
color:white
}